:root {
    --primary-color: #bcaa99 !important;
    --bs-primary: #bcaa99 !important;
    --bs-primary-rgb: #bcaa99 !important;

}

body {
    font-family: 'Outfit', sans-serif;
}

.text-primary {
    color: var(--primary-color) !important;

}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    --bs-btn-hover-bg: #8E8073;
    --bs-btn-hover-border-color: #8E8073;
    --bs-btn-active-bg: #8E8073;
    --bs-btn-active-border-color: #8E8073;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.section-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.navbar-toggler {
    padding: 3px 6px;
}

.section-title {
    padding-bottom: 16px;
}

.logo-body {
    display: flex;
    align-items: center;
}

.hero {
    padding: 100px 20px;
    background: url(../images/book-cover2.jpg) center / cover no-repeat;
    min-height: 100vh;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.65);
}

.hero-section-content {
    text-align: left;
    max-width: 50%;
    margin-left: 0;
}

.cta-section {
    background: var(--primary-color);
    color: #fff;
    text-align: center;
}

footer {
    background: rgb(33, 37, 41);
    color: #ccc;
    text-align: center;
    padding: 20px;
}

p.section-subtitle {
    margin-bottom: 2rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        gap: 20px;
    }
}

.blockquote-footer {
    margin-top: -.5rem;
    margin-bottom: 0;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(33, 37, 41);
}